:root {
  --color-accent: #c08256;
  --color-bg: #f2f2f2;
  --color-dark: #1a1a1a;
  --font-title: 'Playfair Display', serif;
  --font-body: 'Lato', sans-serif;
}

body {
  font-family: var(--font-body);
  background-color: var(--color-bg);
  margin: 0;
}

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}